/* line 2, ../sass/login.scss */
body {
  background-color: #F1F1F1;
}

/* line 6, ../sass/login.scss */
h4 {
  position: absolute;
  top: 50px;
  left: 50px;
}

/* line 12, ../sass/login.scss */
#form {
  background-color: #F8F6F2;
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid gray;
  padding: 20px;
}

/* line 21, ../sass/login.scss */
#error {
  display: none;
}
