/* line 8, ../sass/studio.scss */
body, #menu, #panel, #tabs, #settings, #status {
  background-color: beige;
}

/* line 12, ../sass/studio.scss */
#menu, #panel, #tabs, #editor, #terminal-container, #settings, #status {
  position: absolute;
  z-index: 0;
}

/* line 17, ../sass/studio.scss */
noscript {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  padding: 10px;
  z-index: 2;
  background-color: white;
}

/* line 29, ../sass/studio.scss */
#menu {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #bbbbbb;
  z-index: 999;
}

/* line 37, ../sass/studio.scss */
#panel {
  top: 50px;
  left: 0;
  bottom: 0;
  width: 15%;
  border-right: 1px solid #bbbbbb;
}

/* line 45, ../sass/studio.scss */
#tabs {
  top: 50px;
  left: 15%;
  height: 40px;
  right: 0;
}

/* line 52, ../sass/studio.scss */
#editor {
  top: 90px;
  left: 15%;
  right: 0;
  bottom: 0;
}

/* line 59, ../sass/studio.scss */
#terminal-container {
  left: 15%;
  right: 0;
  bottom: 20px;
  height: 40%;
}

/* line 66, ../sass/studio.scss */
#terminal {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 74, ../sass/studio.scss */
#settings {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
}

/* line 82, ../sass/studio.scss */
#status {
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  border-top: 1px solid gray;
}

/* line 90, ../sass/studio.scss */
.bootbox table#commitHistory tr:hover {
  cursor: pointer;
}

/* line 94, ../sass/studio.scss */
#commitViewer {
  width: 100%;
  height: 480px;
}
