
$panelWidth: 15%;
$terminalHeight: 40%;
$menuHeight: 50px;
$tabsHeight: 40px;
$statusHeight: 20px;

body, #menu, #panel, #tabs, #settings, #status {
    background-color: beige;
}

#menu, #panel, #tabs, #editor, #terminal-container, #settings, #status {
    position: absolute;
    z-index: 0;
}

noscript {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
    z-index: 2;
    background-color: white;
}

#menu {
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #bbbbbb;
    z-index: 999;
}

#panel {
    top: $menuHeight;
    left: 0;
    bottom: 0;
    width: $panelWidth;
    border-right: 1px solid #bbbbbb;
}

#tabs {
    top: $menuHeight;
    left: $panelWidth;
    height: $tabsHeight;
    right: 0;
}

#editor {
    top: ($menuHeight + $tabsHeight);
    left: $panelWidth;
    right: 0;
    bottom: 0;
}

#terminal-container {
    left: $panelWidth;
    right: 0;
    bottom: $statusHeight;
    height: $terminalHeight;
}

#terminal {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
}

#settings {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
}

#status {
    left: 0;
    right: 0;
    bottom: 0;
    height: $statusHeight;
    border-top: 1px solid gray;
}

.bootbox table#commitHistory tr:hover {
    cursor: pointer;
}

#commitViewer {
  width: 100%;
  height: 480px;
}
