
$topbarHeight: 60px;

$panelWidth: 15%;
$terminalHeight: 300px;
$menuHeight: 50px;
$tabsHeight: 40px;

body {
    overflow: hidden;
}

#menu, #panel, #tabs, #settings, #status {
    background-color: beige;
}

#menu, #panel, #tabs, #editor, #terminal-container, #settings, #status {
    position: absolute;
    z-index: 3;
}

/*noscript {
    position: absolute;
    top: $topbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
    z-index: 2;
    background-color: white;
}*/

#menu {
    top: $topbarHeight;
    left: 0;
    right: 0;
    border-bottom: 1px solid #bbbbbb;
    z-index: 999;
}

#panel {
    top: $menuHeight + $topbarHeight;
    left: 0;
    bottom: 0;
    width: $panelWidth;
    border-right: 1px solid #bbbbbb;
}

#tabs {
    top: $menuHeight + $topbarHeight;
    left: $panelWidth;
    height: $tabsHeight;
    right: 0;
}

#status {
    top: $topbarHeight + $menuHeight + $tabsHeight / 4;
    right: 10px;
    height: $tabsHeight / 2;
    font-family: Open Sans;
    z-index: 1002;
}

#editor {
    top: ($menuHeight + $tabsHeight + $topbarHeight);
    left: $panelWidth;
    right: 0;
    bottom: 0;
}

#terminal-container {
    left: $panelWidth;
    right: 0;
    /*bottom: 0*/
    height: $terminalHeight;
}

#terminal {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
}

#settings {
    top: $topbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
}

#runner {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    border: 2px solid black;
    background-color: white;
}

.bootbox table#commitHistory tr:hover {
    cursor: pointer;
}

#commitViewer {
  width: 100%;
  height: 480px;
}
