<?xml version="1.0" encoding="utf-8" ?>
<config>
	<param name="link" value="" />
	<param name="link-update" value="ask-user" />

	<project>
		<param name="type" value="web" />
		<param name="test-platform" value="localhost" />
		<param name="upload-ftp:host" value="" />
		<param name="upload-ftp:user" value="" />
		<param name="upload-ftp:password" value="" />
		<param name="allow-file-watchers" value="true" />
	</project>

	<filewatchers>
	</filewatchers>
</config>